@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "font-awesome/fontawesome.scss";
@import "font-awesome/fa-solid.scss";


/* Reusable Style */

body {
    @extend .font-weight-light;
}

/* Headers */

h1, h2, h3 {
    @extend .text-uppercase;
}

h2:after {
    content: "";
    display: block;
    border-bottom: solid 2px $primary;
    width: 100px;
    @extend .my-md-4, .my-3;
    @extend .mx-auto;
}

h1 {
    @extend .display-4;
}

h2 {
    @extend .mx-auto;
    @extend .font-weight-light;
    letter-spacing: 120%;
}

h3 {
    @extend .font-weight-light;
    font-size: 1.5rem;
}

/* Icons */

@mixin icon($icon) {
    &:before {
        @include fa-icon;
        @extend .fas;
        color: $primary;
        content: $icon;
    }

}

.icon-big {
    &:before {
        @extend .fa-3x;
        display: block;
    }
}

.icon-small {
    &:before {
        @extend .fa-sm;
        display: inline-block;
        @extend .fa-fw;
    }
}



/* Section */

section {
    @extend .py-md-5, .py-3;
}

/* Nav Bar */

nav {
    @extend .navbar-dark, .bg-dark;
}

.navbar-nav {
    @extend .ml-auto;
}

/* Header Section */

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    margin: 0;
    @extend .d-flex, .align-items-center;
}

/* Features Section */

.section-features {
    .features-copy {
        width: 80%;
        @extend .mx-auto;
        @extend .lead;
        @extend .mb-5;
    }

    .i-infinity, .i-clock, .i-lemon, .i-cart {
        @extend .icon-big;
        &:before {
            @extend .mb-3;
        }
        @extend .mb-3;
    }
}

/* Icons */

.i-infinity {
    @include icon(fa-content($fa-var-infinity));
}

.i-clock {
    @include icon(fa-content($fa-var-clock));
}

.i-lemon {
    @include icon(fa-content($fa-var-lemon));
}

.i-cart {
    @include icon(fa-content($fa-var-shopping-cart));
}

/* Meals Section */

.section-meals {
    @extend .py-0;

    .row {
        @extend .no-gutters;
    }
    img {
        @extend .d-block, .w-100;
    }
}


/* Section Steps */

.section-steps {
    background: #f4f4f4;

    .step {
        span {
            color: $primary;
            border: solid 2px $primary;
            @extend .rounded-circle;
            padding: 15px;
        }
    }
}

/* Cities Section */

.section-cities {
    img {
        @extend .img-fluid;
    }

    .city-box {
        @extend .pb-3;
    }

    .i-user, .i-star, .i-twitter {
        @extend .icon-small;

        &:before {
            @extend .mr-2;
        }
    }
}

.i-user {
    @include icon(fa-content($fa-var-user));
}

.i-star {
    @include icon(fa-content($fa-var-star));
}

.i-twitter {
    @include icon(fa-content($fa-var-twitter));
}

/* Testimonials Section */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
    background-size: cover;
    background-position: center;
    color: $white;

    blockquote:before {
        content: '\201C';
        display: block;
        font-size: 4rem;
        @extend .pb-0, .mb-0;
    }

    img {
        height: 50px;
        width: auto;
        @extend .rounded-circle;
    }
}


/* Section Plans */

.section-plans {
    background: #f4f4f4;
}

/* Footer */

footer {
    background: #333;
}
